@import '../../node_modules/purecss/build/pure.css';
@import url(https://fonts.googleapis.com/css?family=Roboto);

/*-- Application stylesheets. -----------------------------------------------*/

html {
    background: rgba(0, 0, 0, 0.3);
}

html, body {
    height: 100%;
    position: relative;
}

#main {
    padding: 20px;
}

.modal {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    width: 600px;
    border-radius: 3px;
    max-width: 100%;
}

.modal-content {
    padding: 10px;
}

.form-field {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="submit"], select {
}

.scene {
    width: 800px;
    max-width: 100%;
    border: 1px solid black;
    height: 500px;
    margin-bottom: 20px;
}