<div class="character-meta">
    <div class="stat-row">
        <span class="row-header">Name: </span> 
        <span class="row-cell">{{ character.name }}</span>
    </div>
    <div class="stat-row">
        <span class="row-header">Class: </span> 
        <span class="row-cell">{{ character.class }}</span>
    </div>
    <div class="stat-row">
        <span class="row-header">HP: </span> 
        <span class="row-cell">{{ character.hp }}</span>
    </div>
    <div class="stat-row">
        <span class="row-header">Attack: </span> 
        <span class="row-cell">{{ character.attack }}</span>
    </div>
    <div class="stat-row">
        <span class="row-header">Defense: </span> 
        <span class="row-cell">{{ character.defense }}</span>
    </div>
</div>